<div class="row">
  <div class="pure-gg">
    <h1 class="text-center">Log in </h1>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'pure-form pure-form-stacked') do |f| %>

      <div class="pure-u-1 pure-u-md-1-3">
        <%= f.label :email, class: 'multi-last-name'  %>
        <%= f.email_field :email, autofocus: true, placeholder: 'Email Address', class: 'pure-u-23-24' %>
      </div>

      <div class="pure-u-1 pure-u-md-1-3">
        <%= f.label :password, class: 'multi-last-name'  %>
        <%= f.password_field :password, autocomplete: "off", placeholder: 'Password', class: 'pure-u-23-24' %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-check">
          <label class="form-check-label">
            <%= f.check_box :remember_me, class: "form-check-input" %>
            Remember me
          </label>
        </div>
      <% end -%>

      <div class="pure-controls">
        <%= f.submit "Log in", class: "pure-button pure-button-primary" %>
      </div>
    <% end %>

    <div class="text-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>